.mainWindow {

       -fx-background-image: url("backgroundImages/chooseFileBG.jpg");
       -fx-background-repeat: stretch;
       -fx-background-size: 100%;
       -fx-background-position: center center;
       -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);

}

.appLogo {

        -fx-background-color: #d02120;
        -fx-color: #eff1f4;

}